@import "tailwindcss";

@font-face {
  font-family: "Modam";
  src: url("/fonts/modam/Modam-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Modam";
  src: url("/fonts/modam/Modam-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  font-family: "Modam", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}
/* Force Latin digits for specific blocks */
.latin-digits {
  font-variant-numeric: lining-nums tabular-nums;
  font-feature-settings: "lnum" 1, "tnum" 1;
  unicode-bidi: plaintext;
}






